<nav class="panel">
  <p class="panel-heading">
    General
  </p>
  <a class="panel-block {% if page.title == 'index' %} is-active {% endif %}" href="{{ site.baseurl }}/">
    <span class="panel-icon">
      <i class="fa fa-home"></i>
    </span>
    Home
  </a>
  <a class="panel-block {% if page.title == 'blog' %} is-active {% endif %}" href="{{ site.baseurl }}/blog">
    <span class="panel-icon">
      <i class="fa fa-bullhorn"></i>
    </span>
    Blog
  </a>
  <p class="panel-heading">
    Getting Started
  </p>
  <a class="panel-block {% if page.title == 'gui_overview' %} is-active {% endif %}" href="{{ site.baseurl }}/getting_started/gui_overview">
    <span class="panel-icon">
      <i class="fa fa-rocket"></i>
    </span>
    Quick Start Gamification Scheme
  </a>
  <a class="panel-block {% if page.title == 'api_overview' %} is-active {% endif %}" href="{{ site.baseurl }}/getting_started/api_overview">
    <span class="panel-icon">
      <i class="fa fa-rocket"></i>
    </span>
    Quick Start API
  </a>
  <a class="panel-block {% if page.title == 'authentication' %} is-active {% endif %}" href="{{ site.baseurl }}/getting_started/authentication">
    <span class="panel-icon">
      <i class="fa fa-check-circle"></i>
    </span>
    Authenticating
  </a>
  <a class="panel-block {% if page.title == 'live_metrics' %} is-active {% endif %}" href="{{ site.baseurl }}/getting_started/live_metrics">
    <span class="panel-icon">
      <i class="fa fa-bar-chart"></i>
    </span>
    Live Metrics
  </a>
  <p class="panel-heading">
    Place2Be in Practice
  </p>
  <a class="panel-block {% if page.title == 'games' %} is-active {% endif %}" href="{{ site.baseurl }}/place2be_in_practice/gamification_schemes">
    <span class="panel-icon">
      <i class="fa fa-sitemap"></i>
    </span>
    Gamification Schemes
  </a>
  <a class="panel-block {% if page.title == 'activables' %} is-active {% endif %}" href="{{ site.baseurl }}/place2be_in_practice/activables">
    <span class="panel-icon">
      <i class="fa fa-trophy"></i>
    </span>
    Activables
  </a>
  <p class="panel-heading">
    Tutorials / How to's
  </p>
  <a class="panel-block {% if page.title == 'beginner_fan_engagement' %} is-active {% endif %}" href="{{ site.baseurl }}/tutorials/beginner_fan_engagement">
    <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span>
    Beginner: Fan Engagement
  </a>
</nav>
