<nav class="panel">
  <p class="panel-heading">
    General
  </p>
  <a class="panel-block {% if page.title == blog %} is-active {% endif %}" href="{{ site.baseurl }}/blog">
    <span class="panel-icon">
      <i class="fa fa-bullhorn"></i>
    </span>
    Blog
  </a>
  <p class="panel-heading">
    Getting Started
  </p>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span>
    Hello World Gamification Scheme
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span>
    Getting Started in 10 minutes with the API
  </a>
  <a class="panel-block {% if page.title == 'live_metrics' %} is-active {% endif %}" href="{{ site.baseurl }}/getting_started/live_metrics">
    <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span>
    Live Metrics
  </a>
  <p class="panel-heading">
    Tutorials / How to's
  </p>
  <a class="panel-block {% if page.title == 'beginner_fan_engagement' %} is-active {% endif %}" href="{{ site.baseurl }}/tutorials/beginner_fan_engagement">
    <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span>
    Beginner: Fan Engagement
  </a>
</nav>
