<h1 class="title is-1 is-spaced intro-title">Gamification Schemes made easy</h1>
<h2 class="subtitle is-4 intro-subtitle">Combine simple to complex mechanics to create gamified loyalty programs at large scales.</h2>
<p>
  <a class="button is-large is-primary hero-button">
    <span class="icon is-medium">
      <i class="fa fa-question"></i>
    </span>
    <span>How does it work?</span>
  </a>
</p>
<p>
  <a id="developers-doc" class="button is-large is-primary hero-button">
    <span class="icon is-medium">
      <i class="fa fa-book"></i>
    </span>
    <span class="is-hidden-mobile">Developers </span><span>Documentation</span>
  </a>
</p>
