<header class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="{{ site.baseurl }}/assets/images/p2b-mono.svg" alt="Place2Be">
        <span class="logo">Place2Be.io</span>
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item header-links" href="https://place2be.io/">
        <i class="fa fa-home" aria-hidden="true"></i>
      </a>
      <a class="nav-item header-links" href="{{ site.baseurl }}/">
        Docs
      </a>
      <a class="nav-item header-links" href="https://place2be.io/#pricing">
        Pricing
      </a>
      <a class="nav-item header-links" href="{{ site.baseurl }}/blog">
        Blog
      </a>
    </div>
  </div>
</header>
