@font-face {
  font-family: OpenSans-Light;
  src: url('fonts/OpenSans/Light/' + 'OpenSans-Light' +'.eot');                                     /* IE9 Compat Modes */
  src: url('fonts/OpenSans/Light/' + 'OpenSans-Light' + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/OpenSans/Light/' + 'OpenSans-Light' + '.woff2') format('woff2'),                  /* Modern Browsers */
       url('fonts/OpenSans/Light/' + 'OpenSans-Light' + '.woff') format('woff'),                    /* Modern Browsers */
       url('fonts/OpenSans/Light/' + 'OpenSans-Light' + '.ttf')  format('truetype'),                /* Safari, Android, iOS */
       url('fonts/OpenSans/Light/' + 'OpenSans-Light' + '.svg#svgFontName') format('svg');          /* Legacy iOS */
  font-weight: normal;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url('fonts/OpenSans/Regular/' + 'OpenSans-Regular' +'.eot');                                     /* IE9 Compat Modes */
  src: url('fonts/OpenSans/Regular/' + 'OpenSans-Regular' + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/OpenSans/Regular/' + 'OpenSans-Regular' + '.woff2') format('woff2'),                  /* Modern Browsers */
       url('fonts/OpenSans/Regular/' + 'OpenSans-Regular' + '.woff') format('woff'),                    /* Modern Browsers */
       url('fonts/OpenSans/Regular/' + 'OpenSans-Regular' + '.ttf')  format('truetype'),                /* Safari, Android, iOS */
       url('fonts/OpenSans/Regular/' + 'OpenSans-Regular' + '.svg#svgFontName') format('svg');          /* Legacy iOS */
}

@font-face {
  font-family: OpenSans-Semibold;
  src: url('fonts/OpenSans/Semi-Bold/' + 'OpenSans-Semibold' +'.eot');                                     /* IE9 Compat Modes */
  src: url('fonts/OpenSans/Semi-Bold/' + 'OpenSans-Semibold' + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/OpenSans/Semi-Bold/' + 'OpenSans-Semibold' + '.woff2') format('woff2'),                  /* Modern Browsers */
       url('fonts/OpenSans/Semi-Bold/' + 'OpenSans-Semibold' + '.woff') format('woff'),                    /* Modern Browsers */
       url('fonts/OpenSans/Semi-Bold/' + 'OpenSans-Semibold' + '.ttf')  format('truetype'),                /* Safari, Android, iOS */
       url('fonts/OpenSans/Semi-Bold/' + 'OpenSans-Semibold' + '.svg#svgFontName') format('svg');          /* Legacy iOS */
  font-weight: bold;
}

.centered-container {
  @media screen and (min-width: 640px) {
    width: 80%;
  }
  margin-left:auto;
  margin-right:auto;
}

.warning, .error {
	background-color: #fffae2;
	border: 2px solid #ffbd00;
	padding: 1em;
}

.hidden, a.hidden {
  display:none;
}

.is-hcentered {
 margin-right: auto;
  margin-left: auto;
}


.post-content {
  font-size: 1.2em;
  font-family: "OpenSans-Light";

  p {
    margin-bottom: 1em;
  }

  h1 {
    margin-top: 1em;
  }
  figure.figure-printscreen {
  margin-bottom: 2em;
  margin-top: 2em;

    img {
      max-width:70%;
      margin-bottom:2em;
      margin-top:1em;
    }
  }
}

.doc-content {
  font-size: 1.2em;
  font-family: "OpenSans-Regular";

  p {
    margin-bottom: 1em;
  }

  h1 {
    margin-top: 1em;
  }

  figure.figure-printscreen {
  margin-bottom: 2em;
  margin-top: 2em;

    img {
      max-width:25em;
    }
    img.is-large {
      max-width:35em;
    }
    figcaption {
      max-width:25em;
      font-size:0.9em;
      font-style:italic;
    }
  }
}

h5.hr_surround {
  font: 1em sans-serif;
  color: black;
  display: table;
  white-space: nowrap;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;

  &:before, &:after {
    border-top: 1px solid green;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
  }
  &:before { right: 1.5%; }
  &:after { left: 1.5%; }
}

input.reasonable_width {
  max-width: 20em;
}

input.tiny-width {
  max-width: 3em;
}

input.right-aligned {
  text-align: right;
}

.vertically-aligned-elem,
input.vertically-aligned-elem,
a.vertically-aligned-elem,
i.vertically-aligned-elem,
img.vertically-aligned-elem {
	display: inline-block;
	vertical-align: middle;
}

td.vertically-aligned-td {
  vertical-align: middle;
}

.italic {
  font-style: italic;
}

.green {
  color: #009c00;
}

.primary {
  color: $primary;
}

.blue-ocean {
  background: linear-gradient(to bottom right, $primary, white);
}

.dark-blue-ocean {
  background: $darkest_primary;
}

.white,
a.white {
  color: white;
}

hr {
  max-width: 75%;
  margin: auto;
}

.top-bar {
  margin-bottom: 1em;
  background: #00547c;
  min-height: 6em;
}

div.code-container div.highlighter-rouge pre.highlight {
  padding: 0;
}
